.curriculum {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.historia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1em;
  width: 90vw;
  margin-bottom: 1.5em;
  border-radius: 20px;
  background-color: var(--branco-suave);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
}

.escuro {
  background-color: var(--cinza-azulado);
}

.subtitulo {
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 2.8rem;
}

.paragrafo {
  text-align: justify;
  font-size: 1.45rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}

.paragrafo li:hover {
  color: var(--azul-medio);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1em;
}

.curriculum .card {
  max-width: 40vw;
}

@media (max-width: 1200px) {
  .subtitulo {
    margin-bottom: 1rem;
  }

  .skillsFoto {
    margin-bottom: 0;
  }

  .paragrafo {
    margin-bottom: 2rem;
  }
}

@media (max-width: 744px) {
  .curriculum {
    flex-direction: column;
    justify-content: center;
  }

  .curriculum .card {
    max-width: 95vw;
  }

  .historia .card {
    max-width: 95vw;
  }

  .card {
    margin-bottom: 1em;
  }

  .skillsFoto {
    margin-bottom: 1em;
  }

  .subtitulo {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .paragrafo {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}